* {
    padding: 0;
    margin: 0;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;   
}

.thing {
    margin: 49vh 5vw 8vh 50vw;
}

.thing .ulthing{
    margin-top:7px;
}

body{
    height: 100%;
    background-image: url(image/damm.jpg);
    background-repeat: no-repeat;
    background-size:100%;
    background-position:top;
    min-width: 100vw;
    min-height: 100%;
}

.thing h1{
    font-size: 100px;
}

.thing li{
    display: inline;
    padding-left: 10px;
    margin-left: -4px;
    text-shadow: 5px 5px 8px #e6de6f;
    color: #ffffff;
}

.thing i{
    font-size: 35px;
    color: #ffffff;
    padding-left: 0px;
    margin-left: 0px;
    transition: text-shadow 0.2s ease;
}

.thing i:hover{
    text-shadow: 0 0 15px rgba(255, 255, 255, 0.8)
}

.imgsize{
    width: 33px;
    border-radius:50%; 
    transition: box-shadow 0.2s ease;
}

a {
    text-decoration: none;
}

.thing .strg{
    color:aliceblue;
    text-shadow: 5px 5px 7px #e6de6f;
}

.thing .imgshad:hover{
    box-shadow: 0 0 15px rgba(255, 255, 255, 0.8)
}

.thing .imgshad{
    box-shadow:5px 5px 8px #e6de6f;   
}

.feet{
    position: absolute;
    bottom: 0%;
    right:0%;
    left: 94%;
    width:80px;
}

.thing .message {
    color: rgb(255, 255, 255);
    text-shadow: 0 0 15px #e6de6f;
    font-size: 12px;
    margin-top: 10px;
    margin-left: 12vw;
    display: none;
}

.thing .discord:hover{
    text-shadow: 0 0 15px #e6de6f;
}

.thing .discord::after{
    font-family:Arial, Helvetica, sans-serif;
    position: absolute;  
    content: "click to copy id";
    opacity: 0;
    visibility: hidden;
    padding-top:33px;
    font-weight: bold;
    font-size: 12px;
    margin-left: -36px;
}

.thing .discord:hover::after{
    opacity: 1;
    visibility: visible;
}

@media (width < 1000px){

    * {
        margin: 0;
        padding: 0;
    }

    body{
        background-image:url(image/mobile.png);
        background-size:100%;

    }

    .thing {
        position: absolute;
        top: 22%;
        bottom: 37%;
        border: 0px ;
        left: 0%;
        right: 0%;
        transform: translate(-50%);
        text-shadow: 5px 5px 20px rgba(0, 0, 0, 0.37)
    }
    
    .thing h1{
        position: relative; 
        display: flex;
        justify-content: center;
        left: 0%;
        right: 0%;
        bottom: 0px; 
        font-size: 80px;
    }

    .thing i{
        font-size: 40px;
    }

    .thing li{    
        display: inline;
        padding: 5px;
    }
    
    .imgsize{
        width: 38px;
        border-radius:50%;
    }

    .thing ul {
        position: relative; 
        display: flex;
        justify-content: center;
        left: 1%;
        right: 0%;
        top: -5px;
    }
    
    .thing .message {
        color: rgb(255, 255, 255);
        font-size: 9px;
        margin-top: 5px;
        margin-left: 0vw;
        display: none;
}
    .feet{
        position: absolute;
        bottom: 0%;
        left: 78%;
        width:80px;
    }

    .thing .discord::after{
        content: "";
        text-shadow:#e6de6f;
    }
    
}